@{
    ViewData["Title"] = "Hinweis zur Sicherheit";
}

<h2>Projekt zur IT-Sicherheit – Schulung</h2>
<p>
    Diese Anwendung dient der Demonstration eines typischen OWASP Top 10 Problems: <strong>Insecure Design</strong>.
</p>
<p>
    Es werden keine Zugriffskontrollen implementiert. Jeder kann auf andere Profile oder Funktionen zugreifen, ohne autorisiert zu sein.
</p>
